@charset "UTF-8";
/* CSS Document */

#title{
	position:fixed;}
#container {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
}

#content {
	float:right;
	white-space: pre-line;

}

#footer{
	position:fixed;
	left:38%;
	bottom:0px;	
}

BODY{
BACKGROUND-ATTACHMENT:fixed;
BACKGROUND-REPEAT:repeat-x;
BACKGROUND-POSITION:bottom;}