@charset "utf-8";
/* CSS Document */
.title{
	font-weight:bold;}

.activity-id{
	display:none;
	}

.activity-title{
	font-size:26px;
	}

.activity-content{
	font-size:20px;
	}
	
.activity-founder{
	font-size:15px;
	}
	
.activity-stamp{
	font-size:15px;
	}
#score{
	font-size:20px;}

#detailArea{
	width:330px;
	
	
}
